{% extends 'mylegos/mylegos_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div id="legopic">
        <img src="{% static 'images/mylegos_home.jpg' %}">
        <span class="lego_center">Here be Lego sets!</span>
        Image by <a href="https://pixabay.com/users/Bru-nO-1161770/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2383096">Bruno /Germany</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2383096">Pixaby</a>
    </div>
</section>


{% endblock %}